@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reenie+Beanie&display=swap");
/* ?=================================> Global */
:root {
  --main-color: RGB(6, 166, 227);
  --second-color: RGB(17, 37, 66);
  --white-color: #fff;
  --dark-color: #000;
  --section-padding: 80px;
}
*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  line-height: 24px;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 30px;
}
img {
  width: 100%;
  display: block;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.main-color {
  color: var(--main-color);
}
.second-color-bg {
  background-color: var(--second-color);
}
.w-fit {
  width: fit-content;
}
.section-padding {
  padding: var(--section-padding);
}
.card-shadow {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

h3 {
  font-family: "Reenie Beanie", cursive;
  color: var(--main-color);
  font-size: 2rem;
  font-weight: bold;
}

.max-500 {
  max-width: 900px;
}

/* &=================================> scrollbar */
/* Width */
::-webkit-scrollbar {
  width: 12px;
}

/* Height */
::-webkit-scrollbar {
  height: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #eeeeee8c;
  box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 100px;
  box-shadow: inset 0 0 10px #eeeeeeaf;
}
/* !=================================> selection */
::selection {
  background-color: var(--main-color);
  color: #000;
}
/* &=================================> spinner */
.spinner-wrapper {
  background-color: var(--white-color);
  color: var(--title-color);
  font-size: 2.2rem;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1.5s;
}
.spinner-border {
  height: 50px;
  width: 50px;
}
/* &=================================> Main Btn */
a {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

a:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

a:active {
  animation: pulse 0.3s ease-in-out;
}
/* &=================================> Navbar */
nav .navbar-brand {
  font-family: var(--Montserrat-font);
  font-weight: 900 !important;
  font-size: 1.1rem !important;
}

nav img {
  width: 70px;
}
nav ul {
  font-size: 1.2rem;
  font-weight: 400;
}

.navbar .dot {
  display: block;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 transparent;
}
nav button span {
  color: var(--white-color);
  font-size: 22px;
}
nav.scrolled {
  background-color: var(--white-color);
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 10px rgb(179, 175, 175);
}

nav.scrolled button span i {
  color: var(--dark-color);
  font-size: 20px;
}

nav.scrolled a {
  color: var(--dark-color) !important;
}
.navbar-nav .nav-link.active {
  position: relative;
  color: var(--main-color) !important;
}
nav {
  background: transparent;
  transition: background 0.3s ease-in-out;
}
nav .search {
  border: 3px solid var(--second-color);
  color: var(--second-color);
}
/* &=================================> Header */

.home h1 {
  font-size: 5.5rem;
  font-weight: bold;
}

.icons li {
  width: 35px;
  height: 35px;
  margin-inline: 10px;
  display: grid;
  place-items: center center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.216);
  transition: all 0.5s;
  cursor: pointer;
}

.icons li:hover {
  border: 1px solid #fff;
}

.carousel-caption {
  right: 0%;
  left: 8%;
  top: 0%;
  text-align: start;
}

.carousel-control-next,
.carousel-control-prev {
  top: -40%;
  width: 9%;
  color: #fff;
  opacity: 1;
}

.carousel-control-prev-icon , .carousel-control-next-icon{
    padding: 24px;
}
/* &=================================> Title */
.main-title {
  padding-top: var(--section-padding);
}
.main-title .title {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.main-title .title h2,
.main-title .title h3 {
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: 7px;
}
.main-title .title h2 {
  position: absolute;
  z-index: -1;
  font-size: 4.5rem;
  color: #cccccc7f;
}
/* &=================================>  About*/
#about .about-info {
  z-index: 1;
  top: 30%;
}
#about .about-info h2 {
  color: var(--second-color);
  font-size: 3.5rem;
  font-weight: bold;
}
/* ^=================================>  blog*/
#blog .blog-info span {
  font-weight: 400;
  color: var(--main-color);
  margin-right: 1.5rem;
  cursor: pointer;
}
#blog .blog-area p {
  border-bottom: #0000001c 1px solid;
  border-top: #0000001c 1px solid;
  font-size: 1.2rem;
  padding-block: 15px;
}
#blog .blog-read {
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: grid;
  place-items: center center;
  border-radius: 50%;
  top: -41px;
  right: 5%;
  cursor: pointer;
}
#blog .blog-read i {
  color: #000;
  transition: all 0.5s;
}
#blog .blog-read i:hover {
  color: var(--main-color);
}
#blog .items figure img {
  transition: all 0.5s;
}
#blog .items:hover figure img {
  transform: scale(1.05);
}

/* *^=================================> SERVICES */
#services .item {
  background-color: #fff;
  padding: 3rem 1rem;
  position: relative;
  border-radius: 0.3125rem;
}
#services .item p {
  width: 95%;
  margin: auto;
}

h4 {
  margin-block: 10px;
}

#services .item h4::after {
  content: "";
  width: 2.5rem;
  height: 0.0625rem;
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  transition: width 0.5s;
}
#services .item:hover h4::after {
  width: 60px;
}
/* &=================================>  Portfolio*/
#portfolio .nav-link {
  color: #000;
}
#portfolio .nav-pills .nav-link.active {
  color: var(--main-color);
  background-color: transparent;
}
#portfolio figure .layer {
  --space-value: 20px;

  position: absolute;
  top: 0%;
  left: var(--space-value);
  right: var(--space-value);
  bottom: var(--space-value);
  transform: translateY(-100%);
  background-color: #ffffff;
  display: grid;
  place-content: center center;
  text-align: center;
  opacity: 0;
  transition: all 0.8s;
}
#portfolio figure:hover .layer {
  transform: translateY(0%);
  opacity: 1;
}
#portfolio figure img {
  transition: all 0.8s;
}
#portfolio figure:hover img {
  filter: blur(15px);
}
#portfolio .layer .icon {
  display: grid;
  place-content: center center;
  width: 30px;
  height: 30px;
  background-color: #000;
  margin: 5px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
/* &=================================>  PRICE*/
#price h4,
#price h5 {
  color: var(--second-color);
  font-weight: bold;
}
#price h5 {
  font-size: 5rem !important;
}
#price .item .bottom-item li {
  border-bottom: #0000001c 1px solid;
  padding: 15px;
  color: #fff;
}

/* ^=================================>  counter*/
#counter {
  position: relative;
  background-color: #000;
  z-index: 1;
}
#counter::before {
  content: "";
  position: absolute;
  inset: 0%;
  background-image: linear-gradient(#000000cd, #000000cd),
    url(../image/stat.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  transition: all 0.5s;
}
#counter:hover::before {
  filter: blur(4px);
}
/* *=================================>  Client*/
#clients .owl-carousel .owl-stage-outer {
  overflow: unset;
}
#clients .owl-theme .owl-dots .owl-dot span {
  width: 5px;
  height: 5px;
}
#clients .owl-carousel {
  padding-top: 80px;
}
#clients .owl-carousel img {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-60%);
}
#clients .owl-carousel .cilent-title {
  margin-top: -50px;
}
#clients .owl-carousel h5 {
  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#clients .owl-carousel h6 {
  position: relative;
  font-size: 0.75rem;
  color: var(--second-color);
  font-weight: 600;
  margin-bottom: 15px;
}
#clients .owl-carousel h6::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 0.5px;
  background-color: var(--main-color);
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
}
/* =================================>  company*/
#company {
  padding: 40px;
}
#company .items figure {
  width: 125px;
}

/* !=================================>  contact*/
textarea,
#contact form input {
  outline: none;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #888;
  padding-bottom: 5px;
}
textarea:focus,
#contact form input:focus {
  border-bottom: 1px solid var(--main-color);
  color: #fff;
}
#contact ul li {
  text-align: justify !important;
}
#contact ul li a {
  background-color: transparent;
  color: var(--second-color);
  padding: 0%;
}
#contact ul li a:hover {
  transform: none;
}
#contact ul li a:active {
  animation: none;
}
/* ?=================================>  COPYRIGHT */
#COPYRIGHT {
  font-size: 0.8rem;
}
/* ?=================================>  Media Query*/
@media (max-width: 991.98px) {
  html {
    font-size: 14px;
  }
  .navbar {
    padding: 0%;
  }
  .navbar .dot {
    display: none;
  }
  .navbar-nav .nav-link.active.active::after {
    display: none !important;
  }
  .main-padding {
    padding-inline: 0% !important;
    padding-block: 5%;
  }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    padding-inline: 0%;
  }

  nav .search {
    display: none;
  }
  nav ul li {
    padding: 7px;
  }
  nav .nav-item {
    width: 100%;
    text-align: center;
    background-color: white;
    margin: 0;
    padding-inline: 15px;
    border: 0%;
  }
  nav .nav-item a {
    color: black !important;
  }
}
@media (max-width: 787.98px) {
  .main-title .title h2 {
    font-size: 0rem;
  }
  #blog {
    margin-top: 90px;
  }
  #contact .list {
    order: -1;
  }
  #contact ul li {
    text-align: center !important;
  }
}
@media (max-width: 575.98px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 490.98px) {
  #blog {
    margin-top: 180px;
  }
}
@media (max-width: 390.98px) {
  #blog {
    margin-top: 220px;
  }
}
